@import 'tailwind';

// css globals and resets
* {
	font-family: 'Arial', serif;
	font-weight: normal;
  //   color:
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-style: normal;
	text-decoration: none;
	list-style-type: none;
	outline: 0 none transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	&:focus {
	  outline: 0 none transparent;
	}
	&::-moz-focus-inner {
	border: 0;
	}
  }
  
  u {
	  text-decoration: underline;
  }
